@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

.container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Blank Title Title"
        "Buttons Table Table"
        "Buttons Table Table";
}

.Table {
    grid-area: Table;
}

.Title {
    grid-area: Title;
    text-align: center;
}

.Buttons button {
    grid-area: Buttons;
    display: block;
}

.Blank {
    grid-area: Blank;
}


body {
    background-color: #2c313c;
    color: #f5f6f9;
}

table {
    width: 100%;
    background-color: #343B48;
    border-collapse: separate;
    border-color: #343B48;
    border-style: solid;
    color: #F5F6F9;
    border-radius: 10px;
}

th:first-child {
    border-radius: 10px 0 0 0;
}

th:last-child {
    border-radius: 0 10px 0 0;
}

td, th {
    border-color: #343B48;
    border-style: none;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #1E2229;
}

#formdiv {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

    #formdiv label {
        font-size: 1.05em;
    }

    #formdiv button {
        margin: 0,0,0,0;
    }

#updateformdiv {
    display: none;
    flex-direction: column;
    margin-top: 20px;
    animation: showUp;
    animation-duration: 1s;
}

    #updateformdiv label {
        font-size: 1.05em;
    }

    #updateformdiv button {
        margin: 0,0,0,0;
    }

@keyframes showUp {
    0% {
        opacity: 0;
        transform: translateY(250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes hide {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(250px);
    }
}
